.Rproj.user
.Rhistory
.RData
*.Rdata
*.Rproj
*.docx
*.pdf
RabbitFoxModel_II.Rproj
Data/kasey.xls
Data/TabulatedRainHalfYearly.csv
Figures/*
!Figures/Figure_1.pdf
*.tex
R/query_database.R
R/get_rip_dates.R

